body{
      background: hsl(49, 53%, 90%); 
    
 width: 100vw;
   margin: 0;
    
}
.logo{
   display: flex;
   flex-direction: row;
   color: rgb(214, 148, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 3px;
     font-size:1.5rem;
     justify-content: space-between;
     align-items: center;
     padding-left: 0.7rem;   
}

header{
    display: flex;
    background-color:hsl(57, 100%, 91%);
    justify-content: space-between;
    width: 100vw
}

nav{
    width: 50%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search{
    width: 50%;
    display: flex;
}

input{
    border:2px solid rgb(214, 148, 49);
    border-radius: 12px;
    width: 100%;
}

h1{
    text-align: start;
    margin-left: 1rem; 
}

nav button{
    background-color: hsl(54, 54%, 92%);
    border:2px solid hsl(36, 67%, 52%);
}


 main{
    margin: left 10%; 
    margin-right: 10%;
   
 }

footer{
    height: 10vh;
    background-color:hsl(52, 92%, 80%) ;
 width: 100%;
 
 
    
}
#flowers img{
    height:30rem;
    width: 100%;
    
}
.sub-header{
    
    display: flex;
   flex-direction: row;
   background-color:hsl(57, 100%, 91%);
   color: rgb(214, 148, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 3px;
     font-size:1.5rem;
     justify-content: space-between;
     align-items: center;
}
header h1{
   color:hsl(36, 67%, 52%) ;
}

h1+button{
    background-color:hsl(54, 54%, 92%) ;
    border: 2px solid hsl(36, 67%, 52%);
    height: 3rem;
    width: 4rem; 
    position: relative;
    right: 2rem;
}

a{
height: 30px;
width: 30px;
margin-right: 50px;
text-decoration: none;
color: black;
}

ul{
    display: flex;
    list-style-type: none;
    align-items:center ;
    justify-content:flex-end ;
}
footer ul{
    display: flex;
    width: 100%; 
    justify-content: space-evenly; 
}
main{
   margin: 0;
    height: 50vh;
}


.new-additions{
    background-color:rgb(254, 237, 212); 
   
}
 .trending{
    height: 20rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
 }

 dialog{
    background-color:rgb(14,14,14) ;
    border: 4px solid hsl(36, 67%, 52%);
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
    padding: 2rem;
    overflow: hidden;
    
    
  
   
 }

 .book-display{
   width:40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.80;
   
 }

 form#pop-up{
    width: 90%;
    display: flex;
    flex-direction: column;
   
    margin-left:1rem ;
   
     
 }

 
 #add-book{
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:hsl(36, 67%, 52%) ;
    margin-top: 1rem;
    color: white;
    margin-left: 1rem;
 }

  input{
  width: 100%;
   height: 1.5rem;
   
   
  }
  #file{
    color:white;
  }
  input#file{
    padding-left: 5px;
    height: 1.5rem;
  }

label{
   padding-top:30px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Verdana, sans-serif;
    color: hsl(36, 67%, 52%);
}

button.close{
    color: white;
    background-color: hsl(36, 67%, 48%);
    border: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
   position: relative;
    left: 90%;
}


.book{
 height:5rem ;
 width:2.5rem ;
 background-color:hsl(57, 100%, 91%);
}

.book:last-child{
 width: 50px;
 background-color: green;
 border: none;
 border-radius: 4px;
}

.book:first-child{
 width: 50px;
 background-color: red;
 border: none;
 border-radius: 4px;
}




