body{
     background: hsl(54, 54%, 92%); 
 width: 100vw;
   margin: 0;
    
}
.logo{
   display: flex;
   flex-direction: row;
   color: rgb(214, 148, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 3px;
     font-size:1.5rem;
     justify-content: space-between;
     align-items: center;


    
}

header{
    display: flex;
    background-color:hsl(52, 92%, 80%);
    justify-content: space-between;
    padding: 1rem;
    width: 100vw

}
nav{
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search{
    width: 50%;
    display: flex;
}
input{
    border:2px solid rgb(214, 148, 49);
    border-radius: 12px;
    width: 90%;
}
h1{
    text-align: start;
    margin-left: 1rem;
   
}
nav button{
    background-color: hsl(54, 54%, 92%);
    border:2px solid rgb(214, 148, 49);
}
main>h1{
    text-align: center;
    color: rgb(214, 148, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 3px;
     font-size: 3rem;
}
#textbooks,#drama,#history,#poetry,#fiction,#fantasy,#sci-fi{
    width: 70%;
    height: min(25vh,15rem);
    margin: 50px;
    box-shadow:5px 5px 20px gray;
    border-radius: 20px;
    display: grid;
    grid-template:1fr .5fr/ 1fr;
}
#textbooks{
    
    background: url("images/science.jpg") ;
    
}
#drama{
    
    background: url("images/akelex-one-final-repentance.jpg") ;
}
#history{
    
    background: url("images/history.jpg") ;
}
#poetry{
    
    background: url("images/poetry.jpg") ;
}
#fiction{
    
    background: url("images/fiction.jpg") ;
}
#fantasy{
    
    background: url("images/dragon.jpg") ;
}
#sci-fi{
    
    background: url("images/sci-fi.jpg") ;
}

footer{
    height: 10vh;
    background-color:hsl(52, 92%, 80%) ;
 width: 100%;
 
 
    
}
div #flower{
    height:0;
    width: 100%;
    background-color: aqua;
}


a{
height: 30px;
width: 30px;
margin-right: 50px;
text-decoration: none;
color: black;
}

ul{
    display: flex;
    list-style-type: none;
    align-items:center ;
    justify-content:flex-end ;
}
footer ul{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    
}

.book-setting{
    background-color: aliceblue;
    opacity: .40;
    grid-row:2/3;
    grid-column: 1/2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    width: 100%;
}
